@charset "UTF-8";
@media (max-width: 767px) {
  html {
    font-size: 62.5%;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  }
  html body {
    font-size: 1.6rem;
  }
  html body header .headerTop {
    margin-top: 1vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  html body header .headerTop .headerTLeft {
    max-width: 60vw;
  }
  html body header .headerTop .headerTRight {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    max-width: 40vw;
    font-size: 3vmin;
    text-align: center;
    color: white;
    margin: auto 0px;
    padding: 5px 10px;
    background-color: #005AAC;
    border-radius: 5px;
  }
  html body header .headerTop .headerTRight:hover {
    background-color: #0A3B94;
  }
  html body header .headerBottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  html body header .headerBottom .headerBLeft {
    width: 60vw;
    white-space: nowrap;
    margin-left: 5px;
  }
  html body header .headerBottom .headerBLeft > span {
    font-weight: bold;
    font-size: 3vmin;
  }
  html body header .headerBottom .headerBLeft > a {
    font-size: 5vmin;
    text-decoration: none;
    color: black;
    font-weight: bolder;
  }
  html body header .headerBottom .headerBRight {
    width: 40vw;
    display: inline-block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 2vmin;
    margin-right: 5px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    white-space: nowrap;
  }
  html body header .headerBottom .headerBRight .hbrSpanBottom {
    margin: 0 auto;
  }
  html body header .headerMenuP {
    background-color: #e5e5e5;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    font-weight: bold;
    padding: 1vh;
  }
  html body header .headerMenu {
    background-color: rgba(229, 229, 229, 0.9);
    position: absolute;
    width: 100%;
    z-index: 101;
    display: none;
  }
  html body header .headerMenu .ulUP {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 13px;
  }
  html body header .headerMenu .ulUP .liUp {
    background-color: rgba(245, 245, 245, 0.3);
    text-decoration: none;
    padding: 1vh 2vh;
    border-bottom: 1px solid #E5E5E5;
  }
  html body header .headerMenu .ulUP .liUp a {
    color: black;
    text-decoration: none;
    display: block;
  }
  html body header .headerMenu .ulUP .ulDown {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  html body header .headerMenu .ulUP .ulDown .liDown {
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
  }
  html body header .headerMenu .ulUP .ulDown .liDown a {
    color: black;
    text-decoration: none;
    padding: 0 4vh;
    line-height: 5vh;
    display: block;
  }
  html body header .headerMenu .open {
    display: block;
  }
  html body header .PCheaderMenu {
    display: none;
  }
  html body main {
    width: 100%;
    text-align: center;
  }
  html body main .introduction {
    text-align: center;
    background-color: #005AAC;
  }
  html body main .introduction > img {
    margin: 0 auto;
  }
  html body main .introduction .introH2, html body main .introduction .introsub, html body main .introduction .introp {
    display: none;
  }
  html body main .introduction .ourcompany {
    display: inline-block;
    margin-bottom: 4vh;
  }
  html body main .introduction .ourcompany > a {
    background-color: #005AAC;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border: 1px solid white;
    padding: 1vh 2vh;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  html body main .introduction .ourcompany > a:hover {
    background-color: white;
    color: #005AAC;
    border: 1px solid #005AAC;
  }
  html body main .h2Title {
    color: #005AAC;
    font-weight: lighter;
    text-align: center;
    margin-top: 2rem;
  }
  html body main .h2subtitle {
    font-family: Vollkorn, serif;
    text-align: center;
    margin-bottom: 3rem;
  }
  html body main .reason {
    width: 80vw;
    margin: 2rem auto 4rem auto;
    text-align: center;
  }
  html body main .reason .reasonSub {
    margin: 1rem 0;
  }
  html body main .reason .reasonSub > img {
    margin: 0 auto 1rem auto;
  }
  html body main .reason .reasonSub .h3Title {
    font-size: 2rem;
    color: #005AAC;
  }
  html body main .reason .reasonSub .h3subtitle {
    font-weight: bold;
  }
  html body main .reason .reasonSub > p {
    margin-bottom: 2rem;
  }
  html body main .business {
    width: 80vw;
    margin: 0 auto;
  }
  html body main .business .businessSub {
    margin-bottom: 1rem;
  }
  html body main .business .businessSub > p {
    background-color: rgba(0, 90, 173, 0.7);
    color: white;
    font-weight: bold;
    line-height: 2rem;
    font-size: clamp(10px, 4vw, 18px);
    padding: 0.5rem 0;
    position: absolute;
    z-index: 100;
    width: 80vw;
  }
  html body main .business .businessSub > img {
    position: relative;
  }
  html body main .separateLine {
    border: 2px solid #DFDFDF;
    margin: 3rem 0;
  }
  html body main .news > dl {
    width: 90vw;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: clamp(1rem, 3vw, 2rem);
    position: relative;
    border-bottom: 1px solid #DFDFDF;
    padding: 1.5rem 0 1.5rem 0.5rem;
  }
  html body main .news > dl > dd {
    margin-left: 20rem;
    position: absolute;
  }
  html body main .workcard {
    width: 80vw;
    margin: 30px auto;
  }
  html body main .workcard .wcLeft, html body main .workcard .wcRight {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    margin-bottom: 10px;
  }
  html body main .workcard .wcLeft .wcLRight, html body main .workcard .wcRight .wcLRight {
    background-color: rgba(0, 90, 173, 0.7);
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  html body main .workcard .wcLeft .wcLRight > p, html body main .workcard .wcRight .wcLRight > p {
    font-weight: bold;
    font-size: 4vw;
  }
  html body main .workcard .wcLeft .wcLRight > p > a, html body main .workcard .wcRight .wcLRight > p > a {
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 5px 20px;
    font-weight: bold;
  }
  html body footer .access {
    width: 80vw;
    margin: 0 auto;
    font-size: clamp(10px, 4vw, 18px);
  }
  html body footer > ul {
    list-style: none;
    padding: 0;
  }
  html body footer > ul > li {
    margin-left: 10vw;
    padding: 1.2rem 1.5rem 1.2rem 0;
  }
  html body footer > ul > li > a {
    display: block;
    text-decoration: none;
    font-size: clamp(10px, 4vw, 18px);
    color: #999999;
  }
  html body footer > ul > li > a > span {
    margin-right: 0.5rem;
  }
  html body .copy {
    width: 100vw;
    height: 8vh;
    line-height: 8vh;
    text-align: center;
    vertical-align: middle;
    background-color: #005AAC;
  }
  html body .copy > p {
    color: white;
    display: inline-block;
    font-size: clamp(10px, 4vw, 18px);
  }
}

@media (min-width: 768px) and (max-width: 995px) {
  html {
    font-size: 62.5%;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  }
  html body {
    font-size: 1.6rem;
  }
  html body header .headerTop {
    margin-top: 1vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  html body header .headerTop .headerTLeft {
    max-width: 50vw;
    margin-left: 2rem;
  }
  html body header .headerTop .headerTRight {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    max-width: 40vw;
    font-size: 3vmin;
    text-align: center;
    color: white;
    margin: auto;
    padding: 12px 60px;
    background-color: #005AAC;
    border-radius: 5px;
  }
  html body header .headerTop .headerTRight:hover {
    background-color: #0A3B94;
  }
  html body header .headerBottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  html body header .headerBottom .headerBLeft {
    width: 50vw;
    white-space: nowrap;
    margin-left: 2rem;
  }
  html body header .headerBottom .headerBLeft > span {
    font-weight: bold;
    font-size: 3vmin;
  }
  html body header .headerBottom .headerBLeft > a {
    font-size: 5vmin;
    text-decoration: none;
    color: black;
    font-weight: bolder;
  }
  html body header .headerBottom .headerBRight {
    width: 50vw;
    display: inline-block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 2vmin;
    margin: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  html body header .headerBottom .headerBRight .hbrSpanBottom {
    margin: 0 auto;
  }
  html body header .headerMenuP {
    background-color: #e5e5e5;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    font-weight: bold;
    padding: 1vh;
  }
  html body header .headerMenu {
    background-color: rgba(229, 229, 229, 0.9);
    position: absolute;
    width: 100%;
    z-index: 101;
    display: none;
  }
  html body header .headerMenu .ulUP {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 13px;
  }
  html body header .headerMenu .ulUP .liUp {
    background-color: rgba(245, 245, 245, 0.3);
    text-decoration: none;
    padding: 1vh 2vh;
    border-bottom: 1px solid #E5E5E5;
  }
  html body header .headerMenu .ulUP .liUp a {
    color: black;
    text-decoration: none;
    display: block;
  }
  html body header .headerMenu .ulUP .ulDown {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  html body header .headerMenu .ulUP .ulDown .liDown {
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
  }
  html body header .headerMenu .ulUP .ulDown .liDown a {
    color: black;
    text-decoration: none;
    padding: 0 4vh;
    line-height: 5vh;
    display: block;
  }
  html body header .headerMenu .open {
    display: block;
  }
  html body header .PCheaderMenu {
    display: none;
  }
  html body main {
    width: 100%;
    text-align: center;
  }
  html body main .introduction {
    text-align: center;
    background-color: #005AAC;
    color: white;
  }
  html body main .introduction > img {
    display: none;
    margin: 0 auto;
  }
  html body main .introduction .introH2, html body main .introduction .introsub, html body main .introduction .introp {
    display: block;
  }
  html body main .introduction .introH2 {
    font-weight: normal;
    font-size: 3rem;
    padding-top: 3rem;
  }
  html body main .introduction .introsub {
    padding-bottom: 4rem;
  }
  html body main .introduction .introp {
    font-size: 1.3rem;
    padding-bottom: 5rem;
  }
  html body main .introduction .ourcompany {
    display: inline-block;
    margin-bottom: 4vh;
  }
  html body main .introduction .ourcompany > a {
    background-color: #005AAC;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border: 1px solid white;
    padding: 1vh 2vh;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  html body main .introduction .ourcompany > a:hover {
    background-color: white;
    color: #005AAC;
    border: 1px solid #005AAC;
  }
  html body main .h2Title {
    font-size: 3.7rem;
    color: #005AAC;
    font-weight: lighter;
    text-align: center;
    margin-top: 2rem;
  }
  html body main .h2subtitle {
    font-size: 2rem;
    font-family: Vollkorn, serif;
    text-align: center;
    margin-bottom: 3rem;
  }
  html body main .reason {
    width: 90vw;
    margin: 2rem auto 4rem auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  html body main .reason .reasonSub {
    margin: 1rem 0;
    width: calc(100vw / 3);
  }
  html body main .reason .reasonSub > img {
    margin: 0 auto 1rem auto;
  }
  html body main .reason .reasonSub .h3Title {
    font-size: 2rem;
    color: #005AAC;
  }
  html body main .reason .reasonSub .h3Title .rbr {
    display: block;
  }
  html body main .reason .reasonSub .h3subtitle {
    font-weight: bold;
  }
  html body main .reason .reasonSub > p {
    margin-bottom: 2rem;
  }
  html body main .business {
    width: 90vw;
    margin: 0 auto;
  }
  html body main .business .businessTop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  html body main .business .businessMiddle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  html body main .business .businessBottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  html body main .business .businessSub {
    width: 80vw;
    margin: 1rem;
    position: relative;
  }
  html body main .business .businessSub > p {
    display: inline-block;
    width: 100%;
    background-color: rgba(0, 90, 173, 0.7);
    color: white;
    font-weight: bold;
    line-height: 2rem;
    font-size: clamp(10px, 4vw, 16px);
    padding: 0.5rem 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
  }
  html body main .separateLine {
    border: 2px solid #DFDFDF;
    margin: 3rem 0;
  }
  html body main .news > dl {
    width: 90vw;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: clamp(1rem, 3vw, 2rem);
    position: relative;
    border-bottom: 1px solid #DFDFDF;
    padding: 1.5rem 0 1.5rem 0.5rem;
  }
  html body main .news > dl > dd {
    margin-left: 25rem;
    position: absolute;
  }
  html body main .workcard {
    width: 90vw;
    margin: 30px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  html body main .workcard .wcLeft, html body main .workcard .wcRight {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    margin: 0;
  }
  html body main .workcard .wcLeft .wcLRight, html body main .workcard .wcRight .wcLRight {
    background-color: rgba(0, 90, 173, 0.7);
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  html body main .workcard .wcLeft .wcLRight > p, html body main .workcard .wcRight .wcLRight > p {
    font-weight: bold;
    font-size: clamp(1rem, 3vw, 5rem);
  }
  html body main .workcard .wcLeft .wcLRight > p > a, html body main .workcard .wcRight .wcLRight > p > a {
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 5px 20px;
    font-weight: bold;
  }
  html body main .workcard .wcLeft {
    margin-right: 2vw;
  }
  html body main .workcard .wcRight {
    margin-left: 2vw;
  }
  html body footer {
    border-top: 2px solid #DFDFDF;
    margin: 3rem 0;
  }
  html body footer .access {
    width: 80vw;
    margin: 3vw 0 0 5vw;
    font-size: clamp(10px, 4vw, 18px);
  }
  html body footer > ul {
    list-style: none;
    padding: 0;
  }
  html body footer > ul > li {
    margin-left: 5vw;
    padding: 1.2rem 1.5rem 1.2rem 0;
  }
  html body footer > ul > li > a {
    display: block;
    text-decoration: none;
    font-size: clamp(10px, 4vw, 18px);
    color: #999999;
  }
  html body footer > ul > li > a > span {
    margin-right: 0.5rem;
  }
  html body .copy {
    width: 100vw;
    height: 8vh;
    line-height: 8vh;
    text-align: center;
    vertical-align: middle;
    background-color: #005AAC;
  }
  html body .copy > p {
    color: white;
    display: inline-block;
    font-size: clamp(10px, 4vw, 18px);
  }
}

@media (min-width: 996px) {
  html {
    font-size: 62.5%;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  }
  html body {
    font-size: 1.6rem;
  }
  html body header {
    max-width: 80vw;
    margin: 0 auto;
  }
  html body header .headerTop {
    margin-top: 1vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  html body header .headerTop .headerTLeft {
    max-width: 70vw;
  }
  html body header .headerTop .headerTRight {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    max-width: 40vw;
    font-size: 3vmin;
    text-align: center;
    color: white;
    margin: auto 0;
    padding: 16px 30px;
    background-color: #005AAC;
    border-radius: 5px;
  }
  html body header .headerTop .headerTRight span:before {
    content: "・";
  }
  html body header .headerTop .headerTRight:hover {
    background-color: #0A3B94;
  }
  html body header .headerBottom .headerBLeft {
    text-align: right;
    white-space: nowrap;
    margin-left: 2rem;
  }
  html body header .headerBottom .headerBLeft > span {
    font-weight: bold;
    font-size: 2vmin;
  }
  html body header .headerBottom .headerBLeft > a {
    font-size: 4vmin;
    text-decoration: none;
    color: black;
    font-weight: bolder;
  }
  html body header .headerBottom .headerBRight {
    display: block;
    text-align: right;
    font-size: 2vmin;
  }
  html body header .headerMenuP {
    background-color: #e5e5e5;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    font-weight: bold;
    padding: 1vh;
    display: none;
  }
  html body header .headerMenu {
    background-color: rgba(229, 229, 229, 0.9);
    position: absolute;
    width: 100%;
    z-index: 101;
    display: none;
  }
  html body header .headerMenu .ulUP {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 13px;
  }
  html body header .headerMenu .ulUP .liUp {
    background-color: rgba(245, 245, 245, 0.3);
    text-decoration: none;
    padding: 1vh 2vh;
    border-bottom: 1px solid #E5E5E5;
  }
  html body header .headerMenu .ulUP .liUp a {
    color: black;
    text-decoration: none;
    display: block;
  }
  html body header .headerMenu .ulUP .ulDown {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  html body header .headerMenu .ulUP .ulDown .liDown {
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
  }
  html body header .headerMenu .ulUP .ulDown .liDown a {
    color: black;
    text-decoration: none;
    padding: 0 4vh;
    line-height: 5vh;
    display: block;
  }
  html body header .headerMenu .open {
    display: block;
  }
  html body header .PCheaderMenu .ulUP {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    margin-bottom: 0;
    position: relative;
  }
  html body header .PCheaderMenu .ulUP .liFirst {
    border-left: 1px solid #E5E5E5;
  }
  html body header .PCheaderMenu .ulUP > li {
    width: calc(100% / 6);
    height: 50px;
    list-style: none;
    text-align: center;
    padding: 5px;
    border-right: 1px solid #E5E5E5;
  }
  html body header .PCheaderMenu .ulUP > li:hover {
    background-color: #F5F5F5;
  }
  html body header .PCheaderMenu .ulUP > li > a {
    text-decoration: none;
    display: block;
    font-size: 1.5rem;
    color: black;
  }
  html body header .PCheaderMenu .ulUP > li > a > span {
    display: block;
    font-size: 1rem;
    color: #999999;
    font-family: verdana, Arial, Helvetica, sans-serif;
  }
  html body header .PCheaderMenu .ulUP .ulDown {
    background-color: #fff;
    width: calc(100% / 6);
    padding: 0;
    position: absolute;
    list-style: none;
    top: 50px;
    left: 0;
    z-index: 101;
    display: none;
  }
  html body header .PCheaderMenu .ulUP .ulDown > li {
    border-bottom: 1px solid #E5E5E5;
    padding: 10px;
  }
  html body header .PCheaderMenu .ulUP .ulDown > li:hover {
    background-color: #F5F5F5;
  }
  html body header .PCheaderMenu .ulUP .ulDown > li a {
    text-decoration: none;
    color: #333;
    font-size: 1.4rem;
  }
  html body main {
    width: 100%;
    text-align: center;
  }
  html body main .introduction {
    text-align: center;
    background-color: #005AAC;
    color: white;
  }
  html body main .introduction > img {
    display: none;
    margin: 0 auto;
  }
  html body main .introduction .introH2, html body main .introduction .introsub, html body main .introduction .introp {
    display: block;
  }
  html body main .introduction .introH2 {
    font-weight: normal;
    font-size: 3rem;
    padding-top: 3rem;
  }
  html body main .introduction .introsub {
    padding-bottom: 4rem;
  }
  html body main .introduction .introp {
    font-size: 1.3rem;
    padding-bottom: 5rem;
  }
  html body main .introduction .ourcompany {
    display: inline-block;
    margin-bottom: 4vh;
  }
  html body main .introduction .ourcompany > a {
    background-color: #005AAC;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border: 1px solid white;
    padding: 1vh 2vh;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  html body main .introduction .ourcompany > a:hover {
    background-color: white;
    color: #005AAC;
    border: 1px solid #005AAC;
  }
  html body main .h2Title {
    font-size: 3.7rem;
    color: #005AAC;
    font-weight: lighter;
    text-align: center;
    margin-top: 2rem;
  }
  html body main .h2subtitle {
    font-size: 2rem;
    font-family: Vollkorn, serif;
    text-align: center;
    margin-bottom: 3rem;
  }
  html body main .reason {
    width: 70vw;
    margin: 2rem auto 4rem auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  html body main .reason .reasonSub {
    margin: 1rem 0;
    width: calc(70% / 3);
  }
  html body main .reason .reasonSub > img {
    margin: 0 auto 1rem auto;
  }
  html body main .reason .reasonSub .h3Title {
    font-size: 2rem;
    color: #005AAC;
  }
  html body main .reason .reasonSub .h3Title .rbr {
    display: block;
  }
  html body main .reason .reasonSub .h3subtitle {
    font-weight: bold;
  }
  html body main .reason .reasonSub > p {
    margin-bottom: 2rem;
  }
  html body main .business {
    width: 70vw;
    margin: 0 auto;
  }
  html body main .business .businessTop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  html body main .business .businessMiddle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  html body main .business .businessBottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  html body main .business .businessSub {
    width: 80vw;
    margin: 1rem;
    position: relative;
  }
  html body main .business .businessSub > p {
    display: inline-block;
    width: 100%;
    background-color: rgba(0, 90, 173, 0.7);
    color: white;
    font-weight: bold;
    line-height: 2rem;
    font-size: clamp(10px, 4vw, 16px);
    padding: 0.5rem 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
  }
  html body main .separateLine {
    border: 2px solid #DFDFDF;
    margin: 3rem 0;
  }
  html body main .news > dl {
    width: 80vw;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: clamp(1rem, 3vw, 1.8rem);
    position: relative;
    border-bottom: 1px solid #DFDFDF;
    padding: 1.5rem 0 1.5rem 0.5rem;
  }
  html body main .news > dl > dd {
    margin-left: 25rem;
    position: absolute;
  }
  html body main .workcard {
    width: 70vw;
    margin: 30px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  html body main .workcard .wcLeft, html body main .workcard .wcRight {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    margin: 0;
  }
  html body main .workcard .wcLeft .wcLRight, html body main .workcard .wcRight .wcLRight {
    background-color: rgba(0, 90, 173, 0.7);
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  html body main .workcard .wcLeft .wcLRight > p, html body main .workcard .wcRight .wcLRight > p {
    font-weight: bold;
    font-size: clamp(1rem, 3vw, 2.5rem);
  }
  html body main .workcard .wcLeft .wcLRight > p > a, html body main .workcard .wcRight .wcLRight > p > a {
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 5px 20px;
    font-weight: bold;
  }
  html body main .workcard .wcLeft {
    margin-right: 2vw;
  }
  html body main .workcard .wcRight {
    margin-left: 2vw;
  }
  html body footer {
    width: 70vw;
    margin: 0 auto;
    border-top: 2px solid #DFDFDF;
    padding: 3rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  html body footer .access {
    margin: 0;
    font-size: clamp(10px, 4vw, 15px);
  }
  html body footer > ul {
    list-style: none;
    padding: 0;
    margin-left: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  html body footer > ul .wrap {
    width: 100%;
  }
  html body footer > ul > li {
    margin: 0 10px;
    display: inline-block;
  }
  html body footer > ul > li > a {
    text-decoration: none;
    font-size: clamp(10px, 4vw, 15px);
    color: #999999;
  }
  html body footer > ul > li > a > span {
    margin-right: 0.5rem;
  }
  html body .copy {
    width: 100vw;
    height: 8vh;
    line-height: 8vh;
    text-align: center;
    vertical-align: middle;
    background-color: #005AAC;
  }
  html body .copy > p {
    color: white;
    display: inline-block;
    font-size: clamp(10px, 4vw, 18px);
  }
}
/*# sourceMappingURL=styleIndex.css.map */